// default color set

// color variation

// title color

// social color

// body var
$iconFont: 'FontAwesome';
$iconFont2: 'iconfont';
$bodyFont: 'Poppins', sans-serif;
$titleFont: 'Roboto', sans-serif;
$fontWeight: 400;
$bColor: #333333;
$bfSize: 16px;
$blineHeight: 26px / $bfSize;
$primary-color: #ffb600;